#-- General files --#
.DS_Store
*~

#-- IDE files --#
.idea*

#-- Compiled files --#
*.mod
*.o
build/
*.exe
cmake-build-debug/
spectra.c

#-- Python files --#
*.pyc
__pycache__/
processed_run.in

#-- Output files --#
*linrespfunc.out
pldm.*
twa.*
sqc.*
ipldm.*
*.log
*.out